@{
    ViewData["Title"] = "Spots";
}

<div>
    <span>作業四 景點瀏覽</span><span> 本次搜尋條件:</span>
    <span id="idspan2" style="color: darkcyan;">
     <span id="idspan" style="color: blueviolet;"></span>
<button type="button" id="again">重新查詢</button>    
</div>


<!-- SEARCH BAR -->
<div class="row">
    <!-- 四個功能左到右 -->
    <div class="col-sm-2">
            <select class="input-select" id="idshow">
            <option value="3">每頁3筆資料</option>
            <option value="9" selected>每頁9筆資料</option>
            <option value="18">每頁18筆資料</option>
            <option value="27">每頁27筆資料</option>
        </select>
    </div>
    <div class="col-sm-5 p-0">
        <ul class="store-pagination" id="ul1">
                </ul>
        </div>
    <div class="col-sm-2">
            <select class="input-select" id="idasc">
            <option value="asc" selected>景點編號小到大排列</option>
            <option value="desc">景點編號大到小排列</option>
        </select>
    </div>
        <div class="col-sm-3">
        <input class="input" placeholder="Search here" id="inputSearch">
        </div>
</div>
<!-- 分類按鍵 -->
<div id="breadcrumb" class="section">
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
                <ul class="breadcrumb-tree" id="idcat">
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 景點區 -->
<div class="col d-flex justify-content-center align-items-center">
    <div id="store" class="row">
    </div>
</div>
@section Styles
    {
    <style>
    </style>
}

@section Scripts
    {
    <script>
        const ulcat = document.getElementById("idcat");
        ulcat.addEventListener("click", function (event) {
            if (pickedcat !== null) {
                for (var i = 0; i < 12; i++) {
                    let getid = document.getElementById('idc' + i);
                    getid.style.color = 'green';
                    console.log(getid);
                    console.log("去掉顏色");
                }
                let getidd = document.getElementById('idc' + pickedcat);
                getidd.style.color = 'red';
                console.log("被選的");
            }
            else {
                document.getElementById('idc' + 0).style.color = 'red';
                console.log("預設?");
            }
        });

        const div1 = document.querySelector('#store');
        //D搜尋
        const inpSearch = document.querySelector('#inputSearch');
        const ulPaging = document.querySelector('#ul1');

        //條件
        const searchData = {
            "categoryId": 0,
            "keyword": "",
            "sortBy": "",
            "sortType": "asc",
            "page": 1,
            "pagesSize": 9
        };
        //B.頁數
        const pagingHandler = page => {
            searchData.page = page;
            loadSpots();
        }
        
        const categoryHandler = cId => {
            pickedcat = cId;
            console.log(pickedcat);
        }
        let pickedcat;



        function catColor() {
            const pickedcat = categoryHandler();
           
        }
        //第二區:分類按鈕

            // 顯示分類按鈕
        async function loadCatli() {
            const urlC = 'https://localhost:7057/api/Categories';
            const responseC = await fetch(urlC);
            const dataC = await responseC.json();
            const liCat = dataC.map(cats => {
                const { categoryId, categoryName } = cats;
                return `<li onclick="categoryHandler(${categoryId})" value="${categoryId}"><a id="idc${categoryId}">${categoryName}</a></li>`;
            });
            ulcat.innerHTML = `<li onclick="categoryHandler(0)" value="0" id="idc0"><a>全部</a></li>`;
            ulcat.innerHTML += liCat.join("");

        }

        //第三區:景點資料
        const loadSpots = async () => {
            const url = 'https://localhost:7057/api/Spots';
            const response = await fetch(url, {
                method: 'POST',
                body: JSON.stringify(searchData),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const data = await response.json();

            //顯示景點資料
            const spots = data.spotsResult.map(spot => {
                const { spotId, spotTitle, spotDescription, address, spotImage } = spot;
                return (`<div class="col-md-4 col-xs-6">
                         <div class="product">
                         <div class="product-img">
                          <img src="${spotImage}" alt="" width="400px" height="300px">
                                             <div class="product-label">
                                             <span class="new">${spotId}</span>
                                              </div>
                                                                             </div>
                                                     <div class="product-body">
                                            <p class="product-category" ></p>
                               <h3 class="product-name" >${spotTitle}</h3>
                             <p> ${spotDescription.length <= 100 ? spotDescription : spotDescription.substring(0, 100)}...</p>
                                                     </div>
                        <div class="add-to-cart" >
                                  <button class="add-to-cart-btn">${address}</button>
                           </div>
                               </div>
                     </div>`)
            })
            div1.innerHTML = spots.join("");
            loadCatli();
            loadPage(data.totalPages);
        }

        //B.顯示分頁按鈕
        const loadPage = (max) => {
            let liPages = "";
            let whichpage = Math.ceil(max / 8);
            if (whichpage > 1) 
            {
                    for (let i = 1; i < 9; i++) 
                    {
                        liPages += `<li onclick="pagingHandler(${i})" id="li${i}"><a>${i}</a></li>`;
                    }
                liPages += `<li onclick="loadMore(${max},9)">></a></li>`;
            }
            else {
                for (let i = 1; i <= max; i++) {
                    liPages += `<li onclick="pagingHandler(${i})"><a>${i}</a></li>`;
                }
            }
            ulPaging.innerHTML = liPages;
        }
        //B.顯示分頁按鈕-下一頁
        const loadMore = (max, start) => {
            //顯示更多分頁按鈕 (start 至 start+7)
            let liPages = "";
            let whichpage = Math.ceil(max / 8);
            let end = Math.min(start + 8, max + 1);//選取比較小的值作為最尾端頁數
            liPages += `<li onclick="goBack(${max}, ${start - 8})"><</a></li>`;
            for (let i = start; i < end; i++) {
                liPages += `<li onclick="pagingHandler(${i})" id="li${i}"><a>${i}</a></li>`;
            }
            if (end <= max) {
                liPages += `<li onclick="loadMore(${max}, ${start + 8})">></a></li>`;
            }
            ulPaging.innerHTML = liPages;
        }
        //B.顯示分頁按鈕-回上頁
        const goBack = (max, start) => {
            let liPages = "";
            let end = Math.min(start + 8, max + 1);//選取比較小的值作為最尾端頁數
            if (start > 1) {
                liPages += `<li onclick="goBack(${max}, ${start - 8})"><</a></li>`;
            }
            for (let i = start; i < end; i++) {
                liPages += `<li onclick="pagingHandler(${i})" id="li${i}"><a>${i}</a></li>`;
            }
            liPages += `<li onclick="loadMore(${max}, ${start + 8})">></a></li>`;
            ulPaging.innerHTML = liPages;
        }
        loadSpots();
        const query = document.getElementById("idspan");
        const query2 = document.getElementById("idspan2");

        function ifChange() {
            searchData.sortType = idasc.value;
            searchData.keyword = inpSearch.value;
            searchData.pagesSize = getshow.value;
            searchData.categoryId = pickedcat;
            query.textContent = `[顯示單頁資料筆數: ${searchData.pagesSize}] // [搜尋的文字: ${searchData.keyword}] // [景點排列為: ${searchData.sortType}] // [景點的分類ID為: ${searchData.categoryId}]`;
            loadSpots();
        }
        //A.顯示數量
        const getshow = document.getElementById('idshow');
        getshow.addEventListener('change', ifChange);
        //C.升降
        const idasc= document.getElementById('idasc');
        idasc.addEventListener('change', ifChange);

        //D.搜尋
        inpSearch.addEventListener('keydown', event => {
            if (event.keyCode === 13) {
                ifChange();
            }
        })
        //第二區: 分類搜尋




        ulcat.addEventListener('click', ifChange);
        // ulcat.addEventListener('click', catColor);

        //重製按鈕
        const again = document.getElementById("again");
        again.addEventListener('click', () => {alert("不知道怎麼做 請您刷新頁面比較快><") })
    </script>
}
